.news__container {
  display: grid;
  grid-template: 800px / repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1120px) {
  .news__container {
    grid-template: 1fr / repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 680px) {
  .news__container {
    grid-template: 1fr / repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
  }
}