.main-in-work__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    margin: 0;
  }
  
  
  @media screen and (min-width: 680px) and (max-width: 1120px) {
    .main-in-work__title {
      font-size: 26px;
    }
  }

  @media screen and (max-width: 679px) {
    .main-in-work__title {
      max-width: 212px;
      font-size: 18px;
      margin-top: 17px;
      margin-bottom: 17px;
    }
  }