.form-subscription__label_type_donation-sum {
  height: 46px;
  width: 157px;
}

@media screen and (max-width: 767px) {
  .form-subscription__label_type_donation-sum {
    width: 120px;
    height: 42px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-subscription__label_type_donation-sum {
    width: 143px;
    height: 42px;
  }
}
