.form-subscription__pseudo-item {
display: flex; 
vertical-align: middle; /* элемент и текст будут правильно выровнены по вертикали. Работает в паре с inline-block */
width: 313px;
height: 46px; 
justify-content: center;
align-items: center;
border: 1px solid #DADADA;/* граница */
border-radius: 10px;
text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */
font-feature-settings: 'pnum' on, 'lnum' on;
color: #333333;
}



