.form-subscription__name-container {
display: flex;
  flex-direction: column;
  gap: 21px 0;
   justify-self:left;
   align-self: flex-start;
    max-width: 100%;

}

@media screen and (max-width: 767px) {
 .form-subscription__name-container 
 {
    width: calc(100% - 22px);

  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-subscription__name-container   {
  
        width: calc(100% - 155px);


  }
}