.form-subscription__name-item {
display: flex;
padding: 10px 20px;
height: 48px;
width: 455px;
background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 10px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #DADADA;
}