.digits__image {
    width: 40.8%;
}

@media screen and (max-width: 1133px) {
    .digits__image {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .digits__image {
        display: block;
        width: 100%;
    }
} 