.news-card__photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

@media screen and (max-width: 1120px) {
  .news-card__photo {
    border-radius: 20px;
  }
}

@media screen and (max-width: 680px) {
  .news-card__photo {
    max-height: 192px;
  }
}