.secondary-menu__title {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
    padding: 12px 0;
    cursor: pointer;
}

@media (max-width: 1115px) {
    .secondary-menu__title  {
        font-size: 16px;
        line-height: 120%;
    }
}

