.secondary-menu__title {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #333333;
    padding: 12px 0;
    cursor: pointer;
}

.secondary-menu__title:hover {
    opacity: 0.7;
}

@media (max-width: 1120px) {
    .secondary-menu__title  {
        font-size: 16px;
        line-height: 1.2;
    }
}

