.form-subscription__payment-method-container {
  display: flex;
  gap: 0 8px;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .form-subscription__payment-method-container {
    gap: 6px 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-subscription__payment-method-container {
  }
}
