.section-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #333;
  margin: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 679px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 680px) and (max-width: 1120px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 32px;
  }
}
