.button-detailed {
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  background: #fff;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: auto;
  padding: 12px 10px;
}

.button-detailed:hover {
  color: #00275c;
}

@media screen and (max-width: 767px) {
  .button-detailed {
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .button-detailed {
    font-size: 16px;
    padding: 10px;
  }
}
