
.footer {
  max-width: calc(100% - 80px);
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 85px;
  margin-right: 150px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.logo_place_footer {
  width: 263px;
}

.footer__section-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.21;
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .footer__section-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 680px) {
  .footer__section-title {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  color: #333;
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .footer__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 680px) {
  .footer__text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 26px;
  column-gap: 15px;
  row-gap: 10px;
}

.footer__link {
  cursor: pointer;
}

.footer__link-text {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .footer__link-text{
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 680px) {
  .footer__link-text{
    font-size: 14px;
    line-height: 1.21;
  }
}

.footer__section-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.footer__logos {
  display: flex;
  gap: 50px;
}

.footer__logo {
  width: 100px;
}

.footer__text-container {
  display: flex;
  gap: 50px;
}

.footer__numbers {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.footer__social-logo {
  width: 65px;
  max-height: 50px;
  object-fit: cover;
  object-position: center;
}

.footer__text_opacity {
  color: rgba(38, 38, 38, 0.5);
}
.footer__resource {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__resource-logo {

}

.footer__text_place_platform {
  max-width: 500px;
}

.footer__text_place_support {
  max-width: 315px;
}
















































































