.header__menu {
    height: 26px;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 12px;
}



@media (max-width: 768px) {
    .header__menu {
        height: 24px;
        order: 2;
    }
}

