.header__menu {
    height: 26px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: #333333;
    cursor: pointer;
    padding-bottom: 5px;
}

.header__menu::before {
    content: url(../../../images/Menu.svg);
    margin-right: 12px;
    color: #333333;
}