.form-subscription__sum-input-container {
border: none;
display: grid;
gap: 12px 5px;
padding: 0;
margin: 0;
  /* grid-template-columns: auto auto auto auto;
  grid-template-rows: auto; */
    /* grid-template-columns: repeat(auto-fit, minmax(122px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(44px, 1fr)); */
       grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

@media screen and (max-width: 767px) {
 .form-subscription__sum-input-container
 {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
        gap: 16px 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-subscription__sum-input-container {
        grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px 16px;

  }
}
