.support__list-sum {
  margin: 0 0 0px;
}

.support__list-sum:nth-child(5) {
    color: rgba(0, 0, 0, 0.4);
}
.support__list-sum:nth-child(6) {
    color: rgba(0, 0, 0, 0.3);
}
.support__list-sum:nth-child(7) {
    color: rgba(0, 0, 0, 0.2) ;
}
.support__list-sum:nth-child(8) {
    color: rgba(0, 0, 0, 0.1);
}