.projects__link {
  width: 204px;
  height: 48px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: #0C4BA0;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid #0C4BA0;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
  margin-top: 50px;
}

.projects__link:hover {
  outline: 1px solid #00275c;
  color: #00275c;
}

@media screen and (max-width: 767px) {
  .projects__link {
    width: 300px;
    height: 44px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .projects__link {
    width: 200px;
    height: 44px;
    font-size: 16px;
  }
}
