.projects__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: #0C4BA0;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid #0C4BA0;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-in-out;
  padding: 12px 24px;
  margin-top: 49px;
}

.projects__link:hover {
  outline: 1px solid #00275c;
  color: #00275c;
}

@media screen and (max-width: 767px) {
  .projects__link {
    width: 100%;
    font-size: 14px;
    padding: 13px 95px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .projects__link {
    font-size: 16px;
    padding: 13px 38px;
    margin-top: 32px;
  }
}
