.button_theme_secondary {
    box-sizing: border-box;
    border: 1px solid #0C4BA0;
    color: #0C4BA0;
}

.button_theme_secondary:hover {
    border: 1px solid #00275C;
    color: #00275C;
    transition: .3s all linear;
}