.photo-project__opening-picture {
    grid-area: image;
    width: 555px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}


@media screen and (max-width: 1279px) {
    .photo-project__opening-picture {
        width: 500px;
    }
}

@media screen and (max-width: 1110px) {
    .photo-project__opening-picture {
        width: 259px;
        height: 284px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px) {
    .photo-project__opening-picture {
        width: 100%;
        height: 100%;
    }
}


