.form-subscription__pseudo-item_active {
  border: 1px solid #0c4ba0;
  /* background-image: url(../../../../images/Question.svg);
  background-repeat: no-repeat;
  background-position: 219px 19px; */
  white-space: pre;
}
