.social-project__arrow-back {
    
    border: none;
    font: inherit;
    color: inherit;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #0C4BA0;
    background-image: url(../../../images/arrow_back.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}



@media (max-width: 1150px) {
    .social-project__arrow-back {
        width: 24px;
        height: 24px;
        border-radius: 6px;
    }
}