.orientation__box {
  width: 100%;
  min-height: 428px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 30px;
  display: grid;
  gap: 40px;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .orientation__box {
    min-height: auto;
    gap: 20px;
    padding: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .orientation__box {
    min-height: 294px;
    gap: 20px;
  }
}