.donation__sum-input-container {
  border: none;
  display: grid;
  gap: 0 40px;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .donation__sum-input-container {
    gap: 16px;
     grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .donation__sum-input-container {
   grid-template-columns: repeat(5, 1fr);
   /*  margin-left: 64px; */
   padding-left: 24px; 
    gap: 0 10px;
  }
}
