.donation__sum-input-container {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .donation__sum-input-container {
    column-gap: calc(100% - 248px);
    row-gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
