.form-subscription__input-payment-method-pseudo-item {
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #ffffff;
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  border-radius: 10px;
}
