.main-in-work__feature-title {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
}


@media screen and (max-width: 1133px) {
    .main-in-work__feature-title {
      font-size: 26px;
      line-height: 31.2px;
    }
}
  
@media screen and (max-width: 600px) {
    .main-in-work__feature-title {
      font-size: 18px;
      line-height: 21.6px;
    }
}