.news-card__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #333;
  margin: 0;
}

@media screen and (max-width: 1120px) {
  .news-card__subtitle {
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 680px) {
  .news-card__subtitle {
    font-size: 14px;
    line-height: 1.21;
  }
}