.digits__achievement-heading {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    color: #3a3a3c; 
}


@media screen and (max-width: 1133px) {
    .digits__achievement-heading {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px) {
    .digits__achievement-heading {
        font-size: 18px;
    }
}


