.main-in-work__button {
    width: 45px;
    height: 45px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e7f0ff;
    border: none;
    stroke: #0c4ba0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .3s linear;
  }
  
  .main-in-work__button:hover {
    background-color: #0c4ba0;
    stroke: #fff;
  }
  
  @media screen and (max-width: 769px) {
    .main-in-work__button  {
      width: 32px;
      height: 32px;
    }
  }