.menu__link-title {
    margin: 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: black;
}


@media (max-width: 1120px) {
    .menu__link-title {
        font-size: 20px;
    }
}

@media (max-width: 680px) {
    .menu__link-title {
        font-size: 18px;
    }
}
