.projects__subheading {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  color: #333;
  margin: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 679px) {
  .projects__subheading {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 680px) and (max-width: 1120px) {
  .projects__subheading {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
