.social-project__slider-item {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr  auto;
    grid-template-rows: auto auto 1fr;
    gap: 20px 14px;
    grid-template-areas:
    "title images"
    "subtitle images"
    "arrows images";
    align-items: start;
    animation: fadeInFromNone .6s ease-in-out;
}

@media (max-width: 1120px) {
    .social-project__slider-item {
        gap: 20px 20px;
        grid-template-columns: 1fr auto;
    }
}

@media (max-width: 680px) {
    .social-project__slider-item {
        grid-template-columns: 1fr;
        row-gap: 16px;
        grid-template-areas:
    "title"
    "subtitle"
    "images"
    "arrows";
    }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

