.form-subscription__offer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0c4ba0;
  text-decoration: none;
}

@media screen and (max-width: 1279px) {
  .form-subscription__offer-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
  }
}

