.social-project__images {
    display: grid;
    grid-template-columns: repeat(520, minmax(min-content, max-content));
    grid-template-rows: repeat(565, minmax(min-content, max-content));
    grid-area: images;
}