.news-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 30px;
}

.news-card:nth-child(3n+2) {
  background-color: #DAEFD5;
  border: none;
}

.news-card:nth-child(3n+3) .news-card__container {
  flex-direction: column-reverse;
}