.main-in-work__description {
    height: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    visibility: hidden;
    overflow: hidden;
  }
  
  @media screen and (min-width: 680px) and (max-width: 1120px) {
    .main-in-work__description {
      font-size: 14px;
    }
  }