.digits__achievements-container {
    display: grid;
    width: 49.2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 30px;
}


@media screen and (max-width: 1133px) {
    .digits__achievements-container {
        width: 100%;
        row-gap: 33px;
    }
}

@media screen and (max-width: 767px) {
    .digits__achievements-container {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 16px;
        margin-bottom: 24px;
    }
}
