.form-subscription__title {
  overflow: hidden;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: nowrap;
  margin: 0;
  width: 100%;
}

.form-subscription__title:before,
.form-subscription__title:after {
  content: "";

  display: inline-block;
  vertical-align: middle;

  width: 100%;
  height: 1px;

  background-color: #dadada;

  position: relative;
}
.form-subscription__title:before {
  margin-right: 10px;
}
.form-subscription__title:after {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .form-subscription__title {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-subscription__title {
    font-size: 20px;
  }
}
