.social-project__title {
    max-width: 826px;
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    align-self: start;
    grid-area: title;
}

@media (max-width: 1150px) {
    .social-project__title {
        font-size: 56px;
        
    }
}

@media (max-width: 900px) {
    .social-project__title {
        font-size: 38px;
        letter-spacing: -0.03em;
    }
}

@media (max-width: 750px) {
    .social-project__title {
        font-size: 28px;
    }
}