.social-project__title {
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    align-self: start;
    grid-area: title;
    letter-spacing: -0.02em;
}

@media (max-width: 1120px) {
    .social-project__title {
        font-size: 46px; 
    }
}

@media (max-width: 680px) {
    .social-project__title {
        font-size: 27px;
        letter-spacing: -0.03em;
    }
}

