.work__box {
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .work__box {
    gap: 20px;
    padding: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .work__box {
    gap: 20px;
  }
}
