.work__box {
  width: 100%;
  min-height: auto;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 30px;
  display: grid;
  gap: 40px;
  padding: 30px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .work__box {
    gap: 20px;
    padding: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .work__box {
    gap: 20px;
  }
}
