.header__burger {
    border: none;
    background-color: transparent;
    width: 25px;
    height: 24px;
    position: relative;
}


@media (max-width: 680px) {
    .header__burger {
        width: 24px;
        height: 20px;
    }
}

