.orientation__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #333;
  margin: 0;
}

@media screen and (max-width: 679px) {
  .orientation__description {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 680px) and (max-width: 1120px) {
  .orientation__description {
    line-height: 1.2;
    font-size: 16px;
  }
}
