.projects__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 679px) {
  .projects__boxes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
  }
}

@media screen and (min-width: 680px) and (max-width: 879px) {
  .projects__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) and (max-width: 1120px) {
  .projects__boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}