.page__photo-project {
    margin-bottom: 100px;
}


@media screen and (max-width: 1110px) {
    .page__photo-project {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .page__photo-project {
        margin-bottom: 32px;
    }
}
