.social-project__arrow {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 35px;
    height: 35px;
    background-color: #0C4BA0;
    border-radius: 10px;
    cursor: pointer;
}

.social-project__arrow::before {
    content: url(../../../images/arrow_back.svg);
}

.social-project__arrow:nth-child(3) {
    transform: rotate(-180deg);
}