.form-subscription__submit-button {
      border: 0;
height: 48px;
width: 194px;
background: #0C4BA0;
border-radius: 10px;
padding: 12px 16px 12px 16px;
display: flex;
justify-content: center;
align-items: center;
  font-size: 18px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #FFFFFF;
  cursor: pointer;
}




