.support__section-heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #333333;
  margin: 0 0 50px 40px;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .support__section-heading {
    font-size: 26px;
    text-align: center;
    padding: 31px 0 0 0;
    margin: 0 auto 24px;
    white-space: nowrap;

  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .support__section-heading {
    padding: 0 0px 24px;
    margin: 0;
    text-align: center;
    font-size: 36px;
  }
}
