.support__section-heading {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 120%;
/* identical to box height, or 77px */
letter-spacing: -0.01em;
color: #333333;
padding: 100px 0px 50px;
}