.form-subscription__pseudo-grid-item-two {
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #ffffff;
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .form-subscription__pseudo-grid-item-two {
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-subscription__pseudo-grid-item-two {
  }
}
