.form-subscription__pseudo-grid-item-two {
width: 184px;
height:46px;
justify-content: center;
align-items: center;
padding: 0;
background: #FFFFFF;
display: flex;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 120%;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #333333;
border-radius: 10px;
}

@media screen and (max-width: 767px) {
 .form-subscription__pseudo-grid-item-two
 {
width: 260px;
height: 44px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form-subscription__pseudo-grid-item-two {
  

  }
}