.button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 180px;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .button {
        width: 134px;
        height: 44px;
        font-size: 16px;
    }
}

@media (max-width: 570px) {
    .button {
        width: 250px;
        height: 44px;
        font-size: 14px;
    }
}