.button {
    min-width: 181px;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 1120px) {
    .button {
        min-width: 134px;
        padding: 12.5px 0;
        font-size: 16px;
        line-height: 1.19;
    }
}

@media (max-width: 680px) {
    .button {
        width: 100%;
        padding: 13.5px 0;
        font-size: 14px;
        line-height: 1.21;
    }
}