.button {
    text-decoration: none;
    padding: 12px 34.5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
<<<<<<< HEAD
<<<<<<< HEAD
    line-height: 1.2;
=======
    line-height: 120%;
>>>>>>> 74a7e78da9268db68b8cf7e10b91457860de6fe9
=======
    line-height: 1.2;
>>>>>>> 77d991e8af0ea1bf569478e0aede45d2b9b11127
    text-align: center;
    cursor: pointer;
}

@media (max-width: 900px) {
    .button {
        padding: 12.5px 22.5px;
        font-size: 16px;
    }
}

@media (max-width: 570px) {
    .button {
        padding: 13.5px 87.5px;
        font-size: 14px;
    }
}