.buttons {
    display: flex;
    gap: 16px;
}

@media (max-width: 900px) {
    .buttons {
       order: 1;
       gap: 8px;
    }
}

@media (max-width: 600px) {
    .buttons {
      display: none;
    }
}