.footer__social-logo {
  width: 65px;
  max-height: 50px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1120px) {
  .footer__social-logo {
    width: 40px;
    max-height: 40px;
  }
}